<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinkun.cloud_monitor.dao.CloudDatasourceMapper" >
  <resultMap id="BaseResultMap" type="com.jinkun.cloud_monitor.domain.bean.CloudDatasource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cloud_type_id" property="cloudTypeId" jdbcType="BIGINT" />
    <result column="cloud_service_id" property="cloudServiceId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="verification_information" property="verificationInformation" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cloud_type_id, cloud_service_id, name, verification_information, status, create_time, 
    update_time, operator, deleted,description
  </sql>
  <delete id="deleteBatchByIds">

  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cloud_datasource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cloud_datasource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jinkun.cloud_monitor.domain.bean.CloudDatasource" >
    insert into cloud_datasource (id, cloud_type_id, cloud_service_id, 
      name, verification_information, status, 
      create_time, update_time, operator, 
      deleted)
    values (#{id,jdbcType=BIGINT}, #{cloudTypeId,jdbcType=BIGINT}, #{cloudServiceId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{verificationInformation,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jinkun.cloud_monitor.domain.bean.CloudDatasource" >
    insert into cloud_datasource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cloudTypeId != null" >
        cloud_type_id,
      </if>
      <if test="cloudServiceId != null" >
        cloud_service_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="verificationInformation != null" >
        verification_information,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cloudTypeId != null" >
        #{cloudTypeId,jdbcType=BIGINT},
      </if>
      <if test="cloudServiceId != null" >
        #{cloudServiceId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="verificationInformation != null" >
        #{verificationInformation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinkun.cloud_monitor.domain.bean.CloudDatasource" >
    update cloud_datasource
    <set >
      <if test="cloudTypeId != null" >
        cloud_type_id = #{cloudTypeId,jdbcType=BIGINT},
      </if>
      <if test="cloudServiceId != null" >
        cloud_service_id = #{cloudServiceId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="verificationInformation != null" >
        verification_information = #{verificationInformation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinkun.cloud_monitor.domain.bean.CloudDatasource" >
    update cloud_datasource
    set cloud_type_id = #{cloudTypeId,jdbcType=BIGINT},
      cloud_service_id = #{cloudServiceId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      verification_information = #{verificationInformation,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>