<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinkun.cloud_monitor.dao.GraphMonitorItemsMapper" >
  <resultMap id="BaseResultMap" type="com.jinkun.cloud_monitor.domain.bean.GraphMonitorItems" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="graph_id" property="graphId" jdbcType="BIGINT" />
    <result column="monitor_items_id" property="monitorItemsId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, graph_id, monitor_items_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from graph_monitor_items
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from graph_monitor_items
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jinkun.cloud_monitor.domain.bean.GraphMonitorItems" >
    insert into graph_monitor_items (id, graph_id, monitor_items_id
      )
    values (#{id,jdbcType=BIGINT}, #{graphId,jdbcType=BIGINT}, #{monitorItemsId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jinkun.cloud_monitor.domain.bean.GraphMonitorItems" >
    insert into graph_monitor_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="graphId != null" >
        graph_id,
      </if>
      <if test="monitorItemsId != null" >
        monitor_items_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="graphId != null" >
        #{graphId,jdbcType=BIGINT},
      </if>
      <if test="monitorItemsId != null" >
        #{monitorItemsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinkun.cloud_monitor.domain.bean.GraphMonitorItems" >
    update graph_monitor_items
    <set >
      <if test="graphId != null" >
        graph_id = #{graphId,jdbcType=BIGINT},
      </if>
      <if test="monitorItemsId != null" >
        monitor_items_id = #{monitorItemsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinkun.cloud_monitor.domain.bean.GraphMonitorItems" >
    update graph_monitor_items
    set graph_id = #{graphId,jdbcType=BIGINT},
      monitor_items_id = #{monitorItemsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>