<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinkun.cloud_monitor.dao.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.jinkun.cloud_monitor.domain.bean.Template" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cloud_type_id" property="cloudTypeId" jdbcType="BIGINT" />
    <result column="cloud_components_id" property="cloudComponentsId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, cloud_type_id, cloud_components_id, type, description, create_time, update_time, 
    operator, deleted
  </sql>
    <select id="selectRepetitionByReq" resultType="int">
        SELECT
            count( 1 )
        FROM
            template
        WHERE
            NAME = #{req.name}
            AND id !=#{req.id}
    </select>
    <select id="selectOneByName" resultType="int">
        select count(1) from template where name=#{name}
    </select>
    <delete id="deleteBatchByIds">
        DELETE FROM template WHERE id in(
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
    <select id="selectTemplateIdsClassifyTemplate" resultType="long">
        SELECT template_id FROM `cloud_classify_template` WHERE template_id in(
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>
    <select id="selectIdsByParameter" resultType="long">
        SELECT
            id
        FROM
            template
        WHERE
            cloud_service_id = #{req.cloudServiceId}
            AND cloud_components_id =#{req.cloudComponentsId}
    </select>
  <select id="selectListVoByParameter" resultType="com.jinkun.cloud_monitor.domain.vo.TemplateVo">
    SELECT
        template_id id,
        GROUP_CONCAT( `name` ) `name`,
        GROUP_CONCAT( type ) type,
        sum( s.itemCount ) monitorNumber,
        sum( s.graphCount ) graphNumber,
        sum( s.classifyCount ) classificationNumber,
        GROUP_CONCAT( s.templateLable ) labels,
        sum( triggerCount ) triggerNumber
    FROM
        (
    SELECT
        template_id,
        NULL `name`,
        NULL type,
        count( 1 ) itemCount,
        0 graphCount,
        0 classifyCount,
        NULL templateLable,
        0 triggerCount
    FROM
        template_monitor_items
    WHERE
        template_id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id UNION ALL
    SELECT
        template_id,
        NULL `name`,
        NULL type,
        0 itemCount,
        COUNT( 1 ) graphCount,
        0 classifyCount,
        NULL templateLable,
        0 triggerCount
    FROM
        graph
    WHERE
        template_id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id UNION ALL
    SELECT
        template_id,
        NULL `name`,
        NULL type,
        0 itemCount,
        0 graphCount,
        COUNT( 1 ) classifyCount,
        NULL templateLable,
        0 triggerCount
    FROM
        cloud_classify_template
    WHERE
        template_id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id UNION ALL
    SELECT
        template_id,
        NULL `name`,
        NULL type,
        0 itemCount,
        0 graphCount,
        0 classifyCount,
        GROUP_CONCAT( `name` ) templateLable,
        0 triggerCount
    FROM
        template_lable
    WHERE
        template_id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id UNION ALL
    SELECT
        id AS template_id,
        `name` AS `name`,
        type,
        0 itemCount,
        0 graphCount,
        0 classifyCount,
        NULL templateLable,
        0 triggerCount
    FROM
        template
    WHERE
        id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id UNION ALL
    SELECT
        c.template_id,
        NULL `name`,
        NULL type,
        0 itemCount,
        0 graphCount,
        0 classifyCount,
        NULL templateLable,
        count( t.id ) triggerCount
    FROM
        `trigger` AS t
        LEFT JOIN template_monitor_items AS c ON t.monitor_items_id = c.id
    WHERE
        c.template_id IN (
      <foreach collection="ids" item="item" separator=",">
          #{item}
      </foreach>
      )
    GROUP BY
        template_id
        ) s
    GROUP BY
        template_id;
  </select>
  <select id="selectListByParameter" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from template
    where cloud_type_id=#{req.cloudTypeId}
    and cloud_components_id=#{req.cloudServiceId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jinkun.cloud_monitor.domain.bean.Template" >
    insert into template (id, name, cloud_type_id, 
      cloud_components_id, type, description, 
      create_time, update_time, operator, 
      deleted)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{cloudTypeId,jdbcType=BIGINT}, 
      #{cloudComponentsId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jinkun.cloud_monitor.domain.bean.Template" >
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cloudTypeId != null" >
        cloud_type_id,
      </if>
      <if test="cloudComponentsId != null" >
        cloud_components_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cloudTypeId != null" >
        #{cloudTypeId,jdbcType=BIGINT},
      </if>
      <if test="cloudComponentsId != null" >
        #{cloudComponentsId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinkun.cloud_monitor.domain.bean.Template" >
    update template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cloudTypeId != null" >
        cloud_type_id = #{cloudTypeId,jdbcType=BIGINT},
      </if>
      <if test="cloudComponentsId != null" >
        cloud_components_id = #{cloudComponentsId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinkun.cloud_monitor.domain.bean.Template" >
    update template
    set name = #{name,jdbcType=VARCHAR},
      cloud_type_id = #{cloudTypeId,jdbcType=BIGINT},
      cloud_components_id = #{cloudComponentsId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>